name: Close stale issues
on:
  schedule:
    - cron: "0 12 * * *"

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v10
        with:
          days-before-issue-stale: 20
          days-before-issue-close: 25
          stale-issue-label: "stale"
          stale-issue-message: "This issue is stale because it has been open for 20 days with no activity."
          close-issue-message: "This issue was closed because it has been inactive for 25 days since being marked as stale."
          days-before-pr-stale: -1
          days-before-pr-close: -1
          repo-token: ${{ secrets.GITHUB_TOKEN }}
